@font-face
  font-family NeutraText
  font-weight bold
  src url("../fonts/neutra_text_bold.otf") format("opentype")

.sponsor
  align-items center
  align-content center
  display flex
  flex-direction row
  justify-content flex-start
  padding 1.5rem
  border solid 2px black
  border-radius: 1rem

  .logo
    height 8rem
    margin-right 2rem

